@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "تأكيد عملية تسجيل الدخول";
}

<h1 style="font-family: Cairo;direction:rtl">@ViewData["Title"]</h1>
@{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p style="font-family: Cairo;direction:rtl">
        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
    </p>
        }
        else
        {
    <p style="font-family: Cairo;direction:rtl">
        Please check your email to confirm your account.
    </p>
    }
}

